<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hello World</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script>
            var voteFor = function(name){
                $.ajax({
                    "url": "/snafoo/vote/" + name,
                    "type": "GET",
                    "success": function(data){
                        if(data.code == 200){
                            location.reload(true);
                        }
                    }
                });
            };
        </script>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/snafoo/voting}">Vote</a></li>
                <li><a th:href="@{/snafoo/suggestions}">Suggestions</a></li>
                <li><a href="#">Shopping List</a></li>
            </ul>
        </nav>
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Always Purchased</div>
                    <ul class="list-group">
                        <li th:each="snack : ${snacks}" th:text="${snack.name}"></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Suggested</div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Food</th>
                                <th>Votes</th>
                                <th>Last Purchased</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="snack : ${suggestions}">
                                <td th:text="${snack.name}"></td>
                                <td>
                                    <i class="fa fa-thumbs-up" style="cursor: pointer" aria-hidden="true" th:unless="${snack.voted}" th:onclick="'voteFor(\'' + ${snack.name} + '\');'"></i>
                                    <i th:text="${snack.votes}"></i>
                                </td>
                                <td th:text="${snack.lastPurchaseDate}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>